@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
}

body {
  scrollbar-width: thin;
  scrollbar-color: #888 #f0f0f0; /* warna scrollbar dan track */
}
